
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Ubuntu:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}